<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>

    <body>
        {{>header}}
        <img src="https://avatars.githubusercontent.com/u/63001188?v=4" class="centerImg" width="250" />
        {{>footer}}
        
    </body>
</html>