<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>

    <body>
        {{>header}}
        <p align="center">This is some helpful text.</p>
        {{>footer}}
    </body>
</html>