body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h1 {
    color: indigo;
    text-align: center;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.main-body {
    position: relative;
    left: 100px;
    width: 250px;
}

#messageOne {
    position: relative;
    left: 100px; 
}

#messageTwo {
    position: relative;
    left: 100px; 
}